{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container">
    <center><h2>Iniciar Sesión</h2></center>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar Sesión</button>
    </form>

    <p>En el caso de no estar registrado presione aquí <a href="{% url 'register' %}">Registrarme</a></p>

    <style>
        form {
            display: flex;
            flex-direction: column;
        }

        input[type="text"], input[type="password"] {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 800px;
        }

        button {
            padding: 10px;
            background-color: #005f73;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0a9396;
        }
    </style>
</div>
{% endblock %}
